/* GENERAL */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}


body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

h2{
  font-size: 40px;
}

.onda-sopra img{

}

/* HEADER */

header{
  height: 80px;
  background-color: #255EE9;
}

header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

header .menu ul{
  list-style: none;
  display: flex;
}

header .menu ul li{
  margin: 0 20px;
  color: white;
}

header .buttom a{
  text-decoration: none;
  background-color: white;
  border-radius: 40px;
  font-size: 13px;
  padding: 10px 16px;
}

/* JUMBO */

.jumbotron{
  display: flex;
  height: 600px;
  background-image: url(/img/jumbo.png);
  background-size: cover;
  justify-content: center;
  align-items: center;
}


.content{
  width: 40%;
  height: 300px;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  justify-content: space-around;
  margin-bottom: 100px;
}

.content p{
  font-size: 20px;
  line-height: 2rem;
  padding-top: 20px;
}

.buttomjumbo{
display: flex;
justify-content: space-around;
align-self: center;
}

.buttomwhite{
  color: black;
  text-decoration: none;
  font-size: 22px;
  background-color: white;
  border-radius: 30px;
  padding: 16px 30px;
  margin-right: 50px;
  font-weight: bold;
}

.buttomwhite i{
  padding-right: 15px;
}

.buttomblack{
  color: white;
  text-decoration: none;
  font-size: 22px;
  background-color: #23272A;
  border-radius: 30px;
  padding: 16px 32px;
  font-weight: bold;
}

/* MAIN */

section{
  padding: 30px 0;
  min-height: 400px;
}

section .container{
  display: flex;
  justify-content: space-between;
 
  padding-top: 80px;
  height: 600px;
}

section .container .image{
  width: 60%;
}

section .container .image img{
  width: 100%;
}
section .container .text{
  width: 25%;
  padding-top: 30px;
}

section .container .text p{
  font-size: 20px;
  line-height: 2rem;
  padding-top: 30px;
}

.container2{
  margin: 0 auto;
  max-width: 1200px;
}

.container2 .text2{
 text-align: center;
}

.container2 .text2 p{
  font-size: 20px;
  line-height: 2rem;
  padding: 20px 4rem 0 4rem ;
}

.container2 .text2 h2{
  font-size: 48px;
}

.image2 img{
  width: 100%;
}

.image3 img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h3{
  text-align: center;
  font-size: 30px;
}

.button-main{
text-align: center;
padding-top: 50px;
}

.button-main a{
  color: white;
  text-decoration: none;
  background-color: #8EA1E1;
  border-radius: 30px;
  padding: 15px 28px;
  font-size: 17px;
  font-weight: bold;
}

.button-main i{
  padding-right: 15px;
}

/* FOOTER */

footer{
  background-color: #23272A;
}

footer .container3{
  display: flex;
  justify-content: space-between;
  background-color: #255EE9;
  max-width: 1200px;
  margin: 0 auto;
  height: 700px;
}

.box2 ul li{
  text-decoration: none;

}